*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#pic1{
     width: "240";
     height: "160"
}
#pic2{
    width: "320";
    height: "195"
}
#pic3{
    width: "500";
    height: "343"
}
